<div class="header-title">
  <div class="header-content">
    <h1> {{appTitle}} 🍻</h1>
    <p>Welcome to
      {{appTitle}} your one-stop shop for the finest and most diverse selection of beer on the web! We're dedicated to providing our customers with an exceptional online shopping experience, and we take pride in offering an unparalleled assortment of high-quality beers from around the world.
    <br>
At [Your Beer Shop Name], we understand that beer is more than just a beverage - it's a way of life. That's why we're passionate about providing our customers with access to unique and delicious brews that are difficult to find elsewhere. From classic European styles to cutting-edge American craft beers, we've got something for every taste and preference.
    <br>
We believe that shopping for beer online should be easy and convenient, and we strive to make it as hassle-free as possible. Our user-friendly website allows you to easily browse and select your favorite brews, and our speedy delivery service ensures that your order arrives at your doorstep in no time.</p>
    
  </div>
</div>