<div>
    <div>
        <img src="" alt="Beer">
        <svg src="" alt="Reviews"></svg>
        <a href="">See all reviews</a>
    </div>
    <div>
        <div>
        <a><svg src=""></svg>Add to wishlist</a>
        <button onclick="location.href='/beer-edit'"><svg></svg></button>
        <button onclick="location.href='/beer-remove'"><svg></svg></button>
        </div>
        <h1>Name Beer XXX</h1>
        <h3>Placeholder</h3>
        <p></p>
        <p>Price:</p>


        <div>
            <button>+</button>
            <input type="number">
            <button>-</button>
            <button>Add to cart</button>
        </div>

    </div>

</div>