<div class="header-title contact-title">
  <div class="header-content">
    <h1>CONTACT</h1>
      <div class="container-names">
        <div>
          <h2>Lukas Jülich</h2>
          <h3><a href="https://github.com/LeFreakALeak93">Github</a></h3>
        </div>
        <div>
          <h2>Josh Beck</h2>
          <h3><a href="https://github.com/JoshRBeck">Github</a></h3>
        </div>
        <div>
          <h2>Silvia Sarmiento</h2>
          <h3><a href="https://github.com/silviflare">Github</a></h3>
        </div>
    </div>
  </div>
</div>