<div class="header-title">
  <div class="header-content">
    <h1>CONTACT</h1>
      <div class="container-names">
        <div>
          <h4>Lukas Jülich</h4>
          <h4><a href="https://github.com/LeFreakALeak93">Github</a></h4>
        </div>
        <div>
          <h4>Josh Beck</h4>
          <h4><a href="https://github.com/JoshRBeck">Github</a></h4>
        </div>
        <div>
          <h4>Silvia Sarmiento</h4>
          <h4><a href="https://github.com/silviflare">Github</a></h4>
        </div>
    </div>
  </div>
</div>