<div class="header-title">
  <div class="header-content">
    <h1>Welcome to {{appTitle}} 🍻</h1>
    <p>Welcome to
      {{appTitle}}, where we offer a diverse selection of the finest and most
      unique beers from around the world. We believe that beer is more than just
      a beverage, it's a way of life, and we're passionate about providing our
      customers with access to delicious brews that are difficult to find
      elsewhere. Cheers!</p>
    <button
      onclick="location.href='/auth/signup'"
      type="button"
      class="btn btn-warning"
    >Sign Up</button>
    <button
      onclick="location.href='/auth/login'"
      type="button"
      class="btn btn-outline-warning"
    >Log In</button>
  </div>
</div>