<div class="header-title">
  <div class="header-content">
    <h1>CRAFTY BREWS</h1>
    <h4>Explore a world of unique and delicious beer.</h4>
    <br>
      <button
        onclick="location.href='/beers/beer-library'"
        type="button"
        class="btn-lg btn-warning"
      >Check out our beers!</button>

  </div>
</div>