<div class="header-title">
  <div class="header-content">
    
    <h1>CRAFTY BREWS</h1>
    <h4>Explore a world of unique and delicious beer.</h4>
    <br>
    <a type="button" class="btn-lg btn-warning" href="/beer/beer-library">Check out our beers!</a>

  </div>
</div>