<div class="content-box-wrapper">
    <div>
    <h1>Welcome Back {{user.username}} <br></h1>

    

    <form>
        
    <button type="submit" onclick="location.href='/auth/login'" class="btn btn-warning form-element">Log out</button>
    </form>
    
    </div>
</div>