<h2>Welcome</h2>
<h3>Sign up here!</h3>
<form action="/auth/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username"/>
  <label for="passowrd">Password:</label>
  <input type="password" name="password"/>
  <button type="submit">Sign up</button>
</form>