body {
  font: 14px Helvetica, Arial, sans-serif;
  background-color: blanchedalmond;
}

a {
  color: #00b7ff;
}

h1 {
  font-weight: 700;
  font-size: 3.2rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.navbar {
  min-height: 80px;
}

.nav-item {
  padding-left: 20px;
}

.navbar-brand {
  font-family: "Vina Sans", cursive;
  font-weight: 400;
  font-size: 1.8rem;
  bottom: 3px;
}

.header-title {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 30px;
  height: 100vh;
  color: white;
  background-image: url("/images/bg.jpg");
  background-position: center top;
  background-size: 100% auto;
}

.about-title {
  background-image: url("/images/bg-2.jpg");
}

.contact-title {
  background-image: url("/images/bg-3.jpg");
}

.header-title .btn {
  margin: 10px;
}

.header-content {
  max-width: 800px;
}

.header-content h1 {
  font-family: "Vina Sans", cursive;
  font-weight: 400;
  font-size: 10rem;
}

.content-page {
  margin-top: 80px;
  min-height: calc(100vh - 130px);
}

.content-box-wrapper {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
  height: 80vh;
}

.content-container {
  top: 80px;
  padding: 20px;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
}
.form-element {
  margin-top: 20px;
}

.forms {
  max-width: 300px;
}
.row {
  flex-wrap: nowrap;
}

.form-check {
  margin-top: 10px;
}

.form-check-input {
  margin-top: 0.1rem;
}

.footer-fixed-bottom-wrap {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1000 !important;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0j;
}
.beer-image-container {
  height: 100%;
}
.beer-container {
  flex: 1;
}
.card-img {
  align-items: center;
  display: flex;
  margin-top: 20px;
  width: 270px;
  height: 100%;
}
.card-title {
  font-family: "Vina Sans", cursive;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10;
}
.card-text {
  font-size: 14;
  font-family: "Merriweather", serif;
  font-weight: 500;
  line-height: 1.1rem;
  margin-bottom: 10;
  text-align: center;
}
.card-text-two {
  line-height: 0.6rem;
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 16px;
  margin-bottom: 9;
}
/* .card-body h6 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
} */

.beer-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.beer-details {
  display: flex;
  flex-direction: column;
  margin: 100px;
  background-color: white;
  padding: 40px;
}

.beer-details-first-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beer-details-image-container {
  flex: 1;
  text-align: center;
}

.beer-details-first-container__information {
  flex: 2;
  margin-left: 30px;
}

.beer-details-image-container img {
  width: 300px;
  height: auto;
}

.beer-details-buttons > button {
  border: 0;
  background-color: transparent;
}

.beer-details-second-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-secondary {
  width: 37px;
  margin-right: 10px;
}

.amount {
  width: 47px;
  height: 37px;
  text-align: center;
  margin-right: 10px;
}
.beer-details-reviews {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.beer-details-shopping-cart-control {
  display: flex;
  flex: 2;
  justify-content: end;
  margin-left: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rating-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1em;
  font-size: 18px;
  color: #ffd600;
  cursor: pointer;
}
.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}
.cart-button {
  background-color: transparent;
  text-align: center;
  font-weight: 600;
  margin-top: 2px;
}
